<div style="padding-right:2em;">
	<fieldset>
		<legend><h4>Find Postcodes or Suburb</h4></legend>
	  	<form class="form-horizontal" action="/findPostcode">

	  		<table>
	  			<tr>
	  				<td>
	  					<b>Postcode</b>
	  				</td>
	  				<td>
	  					<input type="text" class="textm" name="postcode" id="postcode" placeholder="Postcode" style="float:right;">
	  				</td>
	  			</tr>
	  			<tr>
	  				<td>
	  					<b>Subrub</b>
	  				</td>
	  				<td>
	  					<input type="text" class="textm" id="subrub" placeholder="Suburb" style="float:right;">
	  				</td>
	  			</tr>	  			
	  		</table>
	  		<table>
	  			<tr>
	  				<td style="float:right;"><button type="submit"  class="btn">Search</button></td>
	  			</tr>
	  		</table>		  
		</form>
	</fieldset>

	<ul id="sideMenu">
	    <li>
	        <a class="faqs" href="/plumber/faq">
	            <span>FAQs</span>
	        </a>
	    </li>

	    <li>
	        <a class="benefits" href="/plumber/home">
	            <span>Benefits</span>
	        </a>
	    </li>

	    <li>
	         <a class="advertising" href="/plumber/advertising">
	            <span>Advertising</span>
	         </a>
	    </li>
	</ul>

</div>