<div id = "findpostcode" style="padding-right:2em;">

<fieldset>
		<legend style="padding: 11px 47px; color:#F1FC05">FIND POSTCODES / SUBURBS</legend>
	  	<form class="form-horizontal" action="/findPostcode">

	  		<table border-top: 4.625em;>
	  			<tr>
	  				<td>
	  					<b>Postcode</b>
	  				</td>
	  				<td>
	  					<input class="textnonm" type="text" name="postcode" id="postcode" placeholder="Postcode" style="float:right;">
	  				</td>
	  			</tr>
	  			<tr>
	  				<td>
	  					<b>Suburb</b>
	  				</td>
	  				<td>
	  					<input class="textnonm" type="text" name="subrub" id="subrub" placeholder="Suburb" style="float:right;">
	  				</td>
	  			</tr>	  			
	  		</table>
	  		<div style = "padding-left:6em">
	  			<button type="submit"  class="subscribeButton">Search</button>
	  		</div>		  
		</form>
	</fieldset>
</div>


<ul id="sideMenu">
	    <li>
	        <a class="faqs" href="/plumber/faq">
	            <span>FAQs</span>
	        </a>
	    </li>

	    <li>
	        <a class="benefits" href="/plumber/home">
	            <span>Benefits</span>
	        </a>
	    </li>

	    <li>
	         <a class="advertising" href="/plumber/advertising">
	            <span>Advertising</span>
	         </a>
	    </li>
	</ul>