<div class="tableStyle">
	<fieldset>
		<legend><h4 style="padding-top:0em"> Looking for a Plumber? JUST 3 EASY STEPS!</h4></legend>

	  		<table>
	  			<tr>
	  				<td>1</td>
	  				<td>2</td>
	  				<td>3</td>
	  			</tr>
	  			<tr>
	  				<td>
	  					<%= image_tag("imgProblem.jpg", :alt => "Step one") %>
	  				</td>
	  				<td >
	  					<%= image_tag("imgCallPlumber.jpg", :alt => "Step one") %>
	  				</td>
	  				<td>
	  					<%= image_tag("imgVan.jpg", :alt => "Step one") %>
	  				</td>
	  			</tr>	
	  			<tr>
	  				<td>Got plumbing problems? <br> Hot water service blown up?  <br>Blocked toilet? <br> Leaking pipes?  <br></td>
	  				<td>Call 1300 PLUMBER!  <br> And enter your Postcode</td>	  				
	  				<td>Get connected to a Local Plumber!</td>
	  			</tr> 	   			
	  		</table>	  
		</form>
	</fieldset>
</div>