<div style="padding-right:2em;">
	<fieldset>
		<legend><h4>Listen to IVR message</h4></legend>
	  	<p>
                        <object id="MediaPlayer" width=320 height=50
        classid="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
        standby="Loading Microsoft® Windows® Media Player components..."
        type="application/x-oleobject"
        codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112">
                          <PARAM NAME="filename" VALUE="1300_plumber_example.mp3">
                          <PARAM NAME="autoStart" VALUE="true"> 
                          <PARAM NAME="showControls" VALUE="true">
                          <param name="ShowStatusBar" value="true"> 
                          <PARAM NAME="Autorewind" VALUE="true">
                          <PARAM NAME="ShowDisplay" VALUE="false">
                          <EMBED SRC="1300_plumber_example.mp3" WIDTH=320 HEIGHT=50 type="application/x-mplayer2" autostart=1 showcontrols=0 showstatusbar=1 autorewind=1 showdisplay=0>      </EMBED>
                        </OBJECT>
                      </p>
                      <p>If you have problems playing the audio, <a href="1300_plumber_example.mp3">click here</a></p>


	</fieldset>
</div>
