<div class="group">

	<div class="group" style="float: left;">

			<iframe 
				src="http://www.youtube.com/embed/zqQqTaV6Azw">
			</iframe>
			<div class="controls">
			    <button type="submit" class="btn"><b>Subscribe</b></button>
			</div>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>
	</div>
	<div class="group" style="float: left;">

			<iframe 
				src="http://www.youtube.com/embed/XLZLdXCwvTw">
			</iframe>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>

	</div>
	<div class="group" style="float: left;">

			<iframe 
				src="http://www.youtube.com/embed/J-PTBiKLjMc">
			</iframe>
			<div class="controls">
			    <button type="submit" class="btn"><b>Subscribe</b></button>
			</div>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>

	</div>
</div>