<div class="row-fluid">	
	<div class="span7" style="padding-left:2em;padding-right:1em;">


	<h4>About 1300 Plumber</h4>
	<h5>Our Service</h5>

		<p>
		Having a local certified plumber by your side when you are having a plumbing emergency is important. 1300 PLUMBER provides a network of trusted, local plumbers for your Residential or Commercial plumbing needs.
		</p>

		<p>
		1300 PLUMBER is not a plumbing company; we simply connect independent plumbers to consumers for regular services or emergency services. Every plumber in our network is fully licensed, registered and insured.
		</p>

		<p>
		Plumbers all over Australia are starting to join our network. During 2012, 1300 PLUMBER's initial launch will be based in Victoria but within months will roll out to every city, suburb and town across Australia email us for further information, and we'll make it happen in your local area. click here
		</p>


	<h5>Customer Focus</h5>

	<p>Customers are the lifeblood and focus of our business; all work must be done with them in mind. We strive to provide excellent customer service, and...</p>

	<ul>
	<li>Greatly value customer relationships</li>
	<li>Focus on identifying customers' needs</li>
	<li>Anticipate future needs of customers</li>
	<li>Involve customers in product development and service development</li>
	<li>Build trust, maintain integrity and strategic partnerships with customers</li>
	<li>Move beyond the notions of customer satisfaction and loyalty and encourage customers to be advocates for a product or service</li>
	</ul>


	<h5>Innovation</h5>

	Our customers reap the rewards by being connected to the most advanced and sophisticated telecommunications networks in Australia. This technology enables consumers to be connected directly to the plumber in their desired area.

	<h5>Honesty and Integrity</h5>

	We conduct our business in a responsible fashion. We have a high set of values and will never compromise our ethics or our reputation. We pride ourselves by standing behind what we say.

	<h5>Our Team</h5>

	The secret to our success is our team, our single greatest asset. At 1300 PLUMBER we are all committed to exceptional service, innovation, integrity, simplicity and teamwork.

	<h5>Excellence</h5>


	We strive for excellence everyday and we will continue to understand the business of our customers. We will seek new opportunities and continue to cement the status of 'Market Leadership' in our industry.

	<br><br><br>

	</div>	

		 <%= render 'findplumber' %>

		 <%= render 'customerfeedback' %>
		 <%= render 'customerfeedback' %>
</div>

<%= render 'promotion' %>