<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
      <span style="float: left;margin-right:2em;"> 
        <img src="/assets/imgAdvertiseHere.png" style="float: left;margin-right:1em;"/>
        
      </span>

      
      <p>
        Want to advertise with 1300 PLUMBER? In the interests of bringing relevant targeted advertising and discounts to our members, 1300 PLUMBER allows a certain amount of advertising on it's site, and in some documents. Primarily payment for advertising is covered by offering discounts and other special deals and services to 1300 PLUMBER members, thereby benefitting all those involved. 
        We strongly encourage manufacturers and wholesalers to contact us to offer discounts, product samples, and other services to our members.

        If you would like to advertise with us, please contact our Service Hotline on 1300 697 267.
      </p>


      
     
      
    </article>

    <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findplumber' %> <br />
    </section>


</div>    

<%= render 'promotion' %>