		<div class="row-fluid">	
		  <div class="span7 offset1">
		  	<h4>Contact Us via: </h4> 
		  	<p>
		  		<%= image_tag("contactUs_phone.png", :alt => "Phone") %> Phone: <b>1300PLUMBER</b> OR <b>1300 758 623</b>
		  	</p>
		  	<p>
		  		<%= image_tag("contactUs_email.png", :alt => "email") %> email: <b>mark@1300plumber.net.au</b>
		  	</p>
		  </div>	
		  
		 <%= render 'findplumber' %>

		</div>

		<%= render 'promotion' %>