<div class="group">	
  <article id="intro" style="width:60%;padding-top:1.5em">
  	<div class="group" style="float: left;width:45%; padding-left:1em">
  			<h3>DIY one here </h3>
			<iframe 
				src="http://www.youtube.com/embed/XLZLdXCwvTw">
			</iframe>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>
	</div>
	<div class="group" style="float: left;width:45%; padding-left:1em">
			<h3>DIY two here </h3>
			<iframe 
				src="http://www.youtube.com/embed/XLZLdXCwvTw">
			</iframe>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>
	</div>
	<div class="group" style="float: left;width:90%; padding-left:1em">
			<h3>DIY three here </h3>
			<iframe 
				src="http://www.youtube.com/embed/XLZLdXCwvTw">
			</iframe>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>
	</div>
	<div class="group" style="float: left;width:45%; padding-left:1em">
			<h3>DIY four here </h3>
			<iframe 
				src="http://www.youtube.com/embed/XLZLdXCwvTw">
			</iframe>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>
	</div>
	<div class="group" style="float: left;width:45%; padding-left:1em">
			<h3>DIY five here </h3>
			<iframe 
				src="http://www.youtube.com/embed/XLZLdXCwvTw">
			</iframe>
			<p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			</p>
	</div>
 </article>

 <section id="demo" style="width:30%;padding-top:3em">
   <%= render 'findplumber' %>
   <%= render 'howitworksIVR' %>
 </section>

 </div>

<%= render 'promotion' %>