<div class="row-fluid">	
  <div class="span7" style="padding-left:2em;padding-right:1em;">

	<h4>FAQ</h4>
	
  	<h5>What is 1300 PLUMBER all about?</h5>

	1300 PLUMBER is simply a connection service. It is the fast and easy way for you to find a plumber in your local area rather than wasting time looking through the telephone directory or searching the internet.

	<h5>How do I dial 1300 PLUMBER?</h5>

	To dial 1300 PLUMBER, simply dial 1300 followed by the numbers that spell the word P L U M B E R on your telephone keypad. The number 7 for the letter P, the number 5 for the letter L, the number 8 for the letter U and so on. 1300 758 623.

	<h5>How much does the 1300 PLUMBER service cost?</h5>

	The 1300 PLUMBER service is FREE! As we are simply a connection service and not a plumbing company, all you pay for is the local telephone call cost. It is up to you to discuss pricing direct with your local plumber for services they provide.

	<h5>How does 1300 PLUMBER work?</h5>

	Once you dial 1300 PLUMBER, you will be asked to enter the type of plumbing service you require and the 4-digit postcode for the area in which the work will be carried out. After entering your desired postcode, our state of the art 'shared use' technology routes your call to an independent plumber servicing your desired location. Click here and listen to a sample of how it works!

	<h5>I called 1300 PLUMBER and the plumber wants to charge me a call out fee, yet you advertise this as a free service?</h5>

	1300 PLUMBER simply matches consumers with plumbers. This connection service is free to consumers, however, as all plumbers are independent businesses, they may have their own fee schedule with regards to call-outs and quotes. This will vary from plumber to plumber, so ensure you ask them if you are uncertain.

	<h5>Is 1300 PLUMBER a franchise?</h5>

	No. 1300 PLUMBER is simply a connection service for hundreds of independent plumbers around Australia. We do not ask our plumbers for a percentage of the job or in any way regulate the rates.

	<h5>I have an issue with one of your plumbers, who should I speak to?</h5>

	We are simply a connection service and do not employ any plumbers in our network. If you have an issue with any of the plumbers in our network, you should deal direct with that plumber. You can provide feedback to us about a particular plumber on our feedback page, as we only work with quality plumbers.

	<h5>Are the independent plumbers subscribed to your network qualified?</h5>

	Quality is important to us, and 1300 PLUMBER takes great care to pre-qualify each plumber. Before a plumber is approved with 1300 PLUMBER, we take the time to ensure they are: fully licensed, registered and insured.

	<h5>I am a plumber and am interested in finding out more about the 1300 PLUMBER service?</h5>

	If you are a fully licensed, registered and insured Australian plumber and would like more information about our service, please visit our PLUMBERS SECTION. Alternatively, you could check the availability for your desired local area.

  </div>	
  
  <%= render 'findplumber' %>

</div>

<%= render 'promotion' %>