<div class="group">

    <article id="intro" style="width:60%;padding-top:1.5em">
      <h2>The Fine Print</h2>

      <div class="group">
          <article id="intro" style="width:30%;padding-top:1.5em">
            <%= image_tag("imgFinePrint.jpg", :alt => "Fine Print") %>            
          </article>

          <section id="demo" style="width:60%;padding-top:3em">
            <h3>Our Responsibilities</h3>
            <p>
              <ul>
                <li>We must give you exclusive access to 1300 PLUMBER in your subscribed area(s)</li>
                <li>We cannot take 1300 PLUMBER away from you</li>
                <li>We must give you first right of refusal to renew 1300 PLUMBER at the initial agreed terms</li>
                <li>We must not increase the price during your contract, outside the agreed terms</li>
                <li>We must not license 1300 PLUMBER to anyone else in your area during your agreement</li>
                <li>The responsibilities (above) assume you are abiding by the Terms and Conditions and you keep your account in good standing</li>
              </ul>

            </p>

            <h3>Your Responsibilities</h3>
            <p>
              <ul>
                <li>You must pay your account on time</li>
                <li>You must abide by the Terms and Conditions</li>
                <li>You cannot terminate your agreement early</li>
                <li>You are responsible for all advertising and marketing</li>
              </ul>

            </p>
          </section>
    </article>

    <section id="demo" style="width:30%;padding-top:3em">
      <%= render 'findpostcode' %> <br />
      <%= render 'customerfeedback' %>
    </section>


</div>    

<%= render 'promotion' %>