<div class="row-fluid">	
  <div class="span7" style="padding-left:2em;padding-right:1em;">
  	<h4>Welcome to 1300 Plumber!</h4>
  	<p>
  		Welcome to <b>1300 PLUMBER</b>, the fast and easy way for you to find a plumber in your local area. Call <b>1300 PLUMBER (1300 758 623)</b>, enter your postcode and you will be connected to a local, independent plumbing contractor servicing your area.
  	</p>

	<p>
		At <b>1300 PLUMBER</b>, we take the guesswork out of plumbing. Why waste time looking through the telephone directory or searching the internet when <b>1300 PLUMBER</b> is the only name and number you need to know?
	</p>

  </div>	
  
  <%= render 'findplumber' %>

</div>

<%= render 'promotion' %>