<h2>Feedback</h2>
<p>
	At 1300Plumber.net.au we love to hear from our customers. We appreciate your thoughts about how our website is working for you and regularly use input to improve our service. Your opinion is very important to us. Thanks for your help.
</p>


<%= render 'form' %>

