<div style="padding-right:2em;">
	<fieldset>
		<legend><h4>Find a Plumber</h4></legend>
	  	<form class="form-horizontal">

	  		<table>
	  			<tr>
	  				<td>
	  					<b>Postcode</b>
	  				</td>
	  				<td>
	  					<input type="text" id="postcode" placeholder="Postcode" style="float:right;">
	  				</td>
	  			</tr>
	  			<tr>
	  				<td>
	  					<b>Subrub</b>
	  				</td>
	  				<td>
	  					<input type="text" id="subrub" placeholder="Suburb" style="float:right;">
	  				</td>
	  			</tr>	  			
	  		</table>
	  		<table>
	  			<tr>
	  				<td style="float:right;"><button type="submit"  class="btn">Search</button></td>
	  			</tr>
	  		</table>		  
		</form>
	</fieldset>
</div>