<div class="span4" style="padding-right:2em;">
	<fieldset>
		<legend><h4>Find a Plumber</h4></legend>
	  	<form class="form-horizontal">
		  <div class="control-group">
		    <b>Postcode</b>
		      <input type="text" id="postcode" placeholder="Postcode" style="float:right;">
		  </div>
		  <div class="control-group">
		    <b>Subrub</b>
		    <input type="text" id="subrub" placeholder="Suburb" style="float:right;">
		  </div>
		  <div class="control-group">
		    <div class="controls" style="float:right;">
		      <button type="submit" class="btn"><b>Search</b></button>
		    </div>
		  </div>
		</form>
	</fieldset>
</div>