<div class="span3" >
	<fieldset>
		<legend>Find a Plumber</legend>
	  	<form class="form-horizontal">
		  <div class="control-group">
		    <b>Postcode</b>
		      <input type="text" id="postcode" placeholder="Postcode" style="float:right;margin-right: 10px">
		  </div>
		  <div class="control-group">
		    <b>Subrub</b>
		    <input type="text" id="subrub" placeholder="Suburb" style="float:right;margin-right: 10px">
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <button type="submit" class="btn"><b>Search</b></button>
		    </div>
		  </div>
		</form>
	</fieldset>
</div>