<div class="row-fluid">
  <div class="span4">
  	<fieldset style="padding-left:1em;">
		<legend><h4 style="color:#424040;">Plumber promotion</h4></legend>
		  	<div id="YouYubeVideo">				
				<iframe title="YouTube video player" class="youtube-player" 
				type="text/html" 
				 src="http://www.youtube.com/embed/zqQqTaV6Azw"
				frameborder="0" allowFullScreen></iframe>			   
			   <p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			   </p>
			 <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn"><b>Subscribe</b></button>
			    </div>
			 </div>
			</div>
	</fieldset>	

  </div>

  <div class="span4">
	<fieldset >
		<legend><h4 style="color:#424040;">Watch testimonial</h4></legend>
		  	<div id="YouYubeVideo">				
				<iframe title="YouTube video player" class="youtube-player" 
				type="text/html" 
				 src="http://www.youtube.com/embed/XLZLdXCwvTw"
				frameborder="0" allowFullScreen></iframe>			   
			   <p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			   </p>
			</div>
	</fieldset>

  </div>
  <div class="span4">
  	<fieldset>
		<legend><h4 style="color:#424040;">Customer promotion</h4></legend>
		  	<div id="YouYubeVideo">				
				<iframe title="YouTube video player" class="youtube-player" 
				type="text/html" 
				 src="http://www.youtube.com/embed/J-PTBiKLjMc"
				frameborder="0" allowFullScreen></iframe>			   
			   <p>
			   	Write your description here 1
			   	Write your description here 2
			   	Write your description here
			   </p>
			 <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn"><b>Subscribe</b></button>
			    </div>
			 </div>
			</div>
	</fieldset>
  </div>
</div>