<div class="row-fluid">	
  <div class="span8" style="padding-left:2em;padding-right:1em;">
  	<h3>1300 Plumber Feedback</h3>

  	<%= render 'form' %>

  </div>	
  
  <%= render 'findplumber' %>

</div>

<%= render 'promotion' %>
