<h2>Hi <%= @user.title%> <%= @user.lastName%></h2> ,
<p>Your password for the login <%= @user.email%> is changed. If this change is not done by you please call/email us</p>

<h3>1300 PLIMBER Customer Care<h3>