<h2>Hi <%= @user.title%> <%= @user.firstName%></h2> ,

<p>Thank you for using 1300plumber.net.au </p>
<p>Your password for the login <%= @user.email%> is changed recently. If this change is not done by you please call/email us 1300plumber.com.au/contactus </p>

Thank you,
<h3>1300 PLIMBER Customer Care Team<h3>