<h3> Hi <%= @user.title%> <%= @user.lastName%> ,</h3>
<p>Thank you for selecting 1300 PLUMBER for your business.</p>
<p> We will review your application for <%= @postcodeList %> and get back to you ASAP. Mean time if you have questions please call us on 0420284988 or email to ngcssilva@gmail.com</p>

<br />

<h3>1300 PLIMBER Sales Team<h3>