<h3> Hi Mark ,</h3>
<p> Plumber <%= @user.title%> <%= @user.lastName%> has express of intrest for the postcodes <%= @postcodeList %>. Please review and get back to him ASAP. Plumber mobile is <%= @user.mobile%>.</p>

<h3>1300 PLIMBER Online Team<h3>