<h3>Hi <%= @user.title%> <%= @user.firstName%></h3> ,

<p>Thank you for registering with 1300 PLUMBER!</p>

<p>If you didnt register for any postcode now is is the good time to do it. Use the link <%= plumber_home_url %> to search your prefered postcode. </p>

<p> You may need to provide your plumber license, insurance and police clearnce to complete the registration. Use the link 1300plumber.com.au/uploadfile to upload your documents. </p>

<p>If you have any question please contact us on 1300plumber.com.au/contactus </p>

<p>
Thank you <br />
1300 PLIMBER Customer Care Team
</p>

