<h3> Hi <%= @user.title%> <%= @user.lastName%> ,</h3>
<p>Your 1300 PLUMBER password is reset to <b><%= @randomString %></b></p>
<p>Next login system will prompt you to select new password. Please contact us if you have any problem with reset password</p>

<br />

<h3>1300 PLIMBER Customer Care<h3>