<h3> Hi <%= @user.title%> <%= @user.firstName%> ,</h3>

<p>Thank you for using password reset service </p>
<p>Your 1300 PLUMBER password is reset to <b><%= @randomString %></b></p>

<p>Your next login, website will prompt you to select a new password for your login. Please contact us if you have any problem with reset password on 1300plumber.com.au/contactus</p>

<br />

<p>
Thank you <br />
1300 PLIMBER Customer Care Team
</p>